@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin:0;

}
.cabecalho{
    background-color: #F5D5D5;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15%;
    gap: 2.5%;
    align-items: center;
}
.cabecalho-foto{
    background-color: #F5D5D5;
}
.cabecalho-dados{
    width: 20%;
}
.nome{
    color: #6E2727;
    font-family: 'Istok Web', sans-serif;
    font-size: 16pt;
}

.texto{  
    color: #6E2727;
    font-family: 'Istok Web', sans-serif;
}
.imagem_perfil{
    width: 167px;
    height: 170px;
    border-radius: 100px;
}

.cabecalho-infor{
    color: #6E2727;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    width: 100%;
}

.cabecalho-p{
    background-color: #FFF3F3;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    gap: 7%;
}
.habilidades{
    text-align: center;
    align-self: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #ebbaba;
    font-family: 'Istok Web', sans-serif;
}
.cabecalho-imagens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}
.imagens-habilidades{
    width: 41px;
    height: 41px;
    border-radius: 5px;
    background-color: #F5D5D5;
    padding: 0.5%;
}
.projetos{
    width: 350px;
    height: 200px;
    padding-left: 6%;
    padding-top: 0%;
    padding-bottom: 0%;
    gap: 1%;
}
.cabecalho-projetos{
    display: flex;
    flex-direction: row;
    background-color: #F5D5D5;
    padding-top: 6%;
    padding-bottom: 1%;
}
.proje{
    font-family: 'Istok Web', sans-serif;
    position: relative;
    left: 845px;
    bottom: 75px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #FFF3F3;
}
.contato{ 
    width: 40px;
    height: 40px;
}
.em{
    font-family: 'Istok Web', sans-serif;
    color: #ebbaba;
    text-align: center;
}
.cabecalho-con{
    background-color: #FFF3F3;
   width: 100%;

}
.cabecalho-con-imagens-texto{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: 'Istok Web', sans-serif;
    color: #ebbaba;
    
}
.email, .instagram, .whatsapp{
    display: flex;
    flex-direction: row;
    width: 33%;
    align-items: center;
    align-self: center;
}
